body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  backdrop-filter: blur(8px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  color: black;
}

.quiz-container {
  height: 300px;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

.scoreboard,
.timer {
  font-size: 18px;
  margin-top: 20px;
}

.scoreboard span,
.timer span {
  font-weight: bold;
  color: #333;
}

/* Add your CSS styles for the modal here */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
